<app-login-layout
  title="Login"
  primaryBtnText="Logue agora"
  secondaryBtnText="Registre-se agora"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>

  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="Digite seu email"
    >
      <img src="/assets/svg/logo.svg"/>
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Digite sua senha"
    >
      <img src="/assets/svg/logo.svg"/>
    </app-primary-input>
    <span>Forgot password?</span>
  </form>

</app-login-layout>
